<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <assembly name="PinkoCommon"/>
        <assembly name="PinkoMsMqServiceBus"/>
        <assembly name="PinkoAzureService"/>
        <assembly name="PinkoWorkerCommon"/>

        <container>
            <!-- 
                  References:
                  http://www.fascinatedwithsoftware.com/blog/post/2012/02/05/Unity-Configuration-with-Both-Code-and-a-Config-File.aspx
                  http://msdn.microsoft.com/en-us/library/ff660914(v=pandp.20).aspx
            -->
            <register type="PinkoCommon.Interface.IPinkoConfiguration" mapTo="PinkoCommon.PinkoConfiguration">
                <lifetime type="singleton" />
            </register>
            <register type="PinkoCommon.Interface.IPinkoApplication" mapTo="PinkoCommon.PinkoApplication">
                <lifetime type="singleton" />
            </register>
            
            <register type="PinkoCommon.Interface.IMessageHandlerManager" mapTo="PinkoCommon.BaseMessageHandlers.MessageHandlerManager">
                <lifetime type="singleton" />
                <method name="Initialize"/>
            </register>

            <register type="PinkoWorkerCommon.Interface.IWorkerRoleHeartBeat" mapTo="PinkoWorkerCommon.WorkerRoleHeartBeat">
                <lifetime type="singleton" />
                <method name="Initialize"/>
            </register>

            <register type="PinkoWorkerCommon.Interface.IWorkerRoleFrame" mapTo="PinkoWorkerCommon.WorkerRoleFrame">
                <lifetime type="singleton" />
            </register>

            <register type="PinkoCommon.Interface.IPinkoMarketEnvManager" mapTo="PinkoWorkerCommon.Providers.PinkoMarketEnvManager">
                <lifetime type="singleton" />
            </register>


            <register type="PinkoCommon.Interface.IBusMessageServer" mapTo="PinkoMsMqServiceBus.MsMqBusMessageServer">
                <lifetime type="singleton" />
                <method name="Initialize"/>
            </register>
            <!--<register type="PinkoCommon.Interface.IBusMessageServer" mapTo="PinkoAzureService.AzureMessageBus.AzureBusMessageServer">
                <lifetime type="singleton" />
                <method name="Initialize"/>
            </register>-->

        </container>
    </unity>


    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>







